<div class="card">
  <h5 class="font-bold">Star Wars</h5>
  <div class="mb-3">
    <p-button
      type="button"
      icon="pi pi-chevron-left"
      (click)="previousPage()"
      [disabled]="true"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      type="button"
      icon="pi pi-refresh"
      (click)="resetPage()"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      type="button"
      icon="pi pi-chevron-right"
      (click)="nextPage()"
      [disabled]="true"
      styleClass="p-button-text"
    ></p-button>
    <form [formGroup]="starWarForm" (ngSubmit)="getPeople()" style="float:right">
      <input type="text" pInputText formControlName="search" placeholder="Search By Username"/>
      <button type="submit" pButton label="Submit" class="p-button-sm"></button>
    </form>
  </div>

  <p-table
    [value]="people"
    [paginator]="true"
    [rows]="3"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Height</th>
        <th>Mass</th>
        <th>Gender</th>
        <th>Homeworld</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-people>
      <tr>
        <td>{{ people.name }}</td>
        <td>{{ people.height }}</td>
        <td>{{ people.mass }}</td>
        <td>{{ people.gender }}</td>
        <td>{{ people.homeworld }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
