/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.scss';

body {
  //background: url('./assets/scrum-board.svg') no-repeat center fixed;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  min-height: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;

}



